@model moment3cdsamling.Models.Artist

@{
    // Save title to ViewData
    ViewData["Title"] = "Radera " + Model.Name;
}

<h1>@ViewData["Title"]</h1>

<h2>Är du säker på att du vill radera artisten/gruppen?</h2>
<div>
    <hr />
    <!-- Desciption list with details for artist -->
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Information)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Information)
        </dd>
    </dl>
    
    <!-- Form with submit button to delete artist -->
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArtistId" />
        <input type="submit" value="Radera" class="btn btn-danger btn-sm" />
        <a class="btn btn-dark btn-sm" asp-action="Index">Tillbaka till listan</a>
    </form>
</div>
