@model IEnumerable<moment3cdsamling.Models.Artist>

@{
    // Save title to ViewData
    ViewData["Title"] = "Artister";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-dark btn-sm"  asp-action="Create">Lägg till ny artist/grupp</a>
</p>

<!-- Table for artists -->
<table class="table">
    <thead>
        <tr>
            <th class="w-25">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="w-50">
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Foreah loop to print information about artists-->
        @foreach (var item in Model) {
        <tr>
            <td class="w-25">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="w-50">
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@item.ArtistId">Ändra</a>
                <a class="btn btn-dark btn-sm" asp-action="Details" asp-route-id="@item.ArtistId">Detaljer</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ArtistId">Radera</a>
            </td>
        </tr>
        }
    </tbody>
</table>
