@model IEnumerable<moment3cdsamling.Models.Person>

@{
    // Save title to ViewData
    ViewData["Title"] = "Kontakter";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a class="btn btn-dark btn-sm" asp-action="Create">Lägg till ny kontakt</a>
</p>

<!-- Table for contacts -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Foreach to print information about contacts -->
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@item.PersonId">Ändra</a>
                <a class="btn btn-dark btn-sm" asp-action="Details" asp-route-id="@item.PersonId">Detaljer</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.PersonId">Radera</a>
            </td>
        </tr>
        }
    </tbody>
</table>
