@model moment3cdsamling.Models.Album

@{
    // Save title to ViewData
    ViewData["Title"] = "Detaljer för " + Model.Name;
}

<h1>@ViewData["Title"]</h1>

<div>
    <!-- Description list with details for album -->
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Release)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Release)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@Model?.AlbumId">Ändra</a>
    <a class="btn btn-dark btn-sm" asp-action="Index">Tillbaka till listan</a>
</div>
